<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username</label>
    <input formControlName="username" id="username" placeholder="Enter your username" />
  </div>
  
  <div>
    <label for="password">Password</label>
    <input type="password" formControlName="password" id="password" placeholder="Enter your password" />
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>

<p>
  Don't have an account? <a (click)="goToRegister()">Register here</a>
</p>
